<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            레이아웃의 상단
        </header>
        <div>
            @RenderBody()
        </div>
        @* 반디스 렌더바디가 있어야함*@
        <footer>
            레이아웃의 하단부
        </footer>

    </div>
</body>
</html>
